*{
    padding: 0;
    margin: 0;
}

body{
    font-family: 'Roboto', sans-serif;
}

.header-container{
    border: 1px solid black;
    height: 100px;
    width: 100%;
    position: fixed;
}

.body-container{
    display: flex;
    position: absolute;
    box-sizing: border-box;
    margin-top: 110px;

}

.login-form-wrapper{
    flex: 35%;
    width: 350px;
    margin: 50px 155px;
    padding: 20px;
    background: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(36, 36, 36, 0.1);
}

.login-form-wrapper .input-field input {
    width: 328px;
    padding: 10px;
    outline: none;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    margin-bottom: 5px;
}


.login-form-wrapper button.login-button{
    width: 100%;
    padding: 10px;
    background: #007bff;
    color: white;
    border: 1px solid transparent;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.login-form-wrapper button.login-button:hover{
    border: 1px solid blue;
    font-weight: bold;
}

.login-form-wrapper a.sign-up-link{
    text-decoration: none;
    font-weight: bold;
    color: blue;
}

.login-form-wrapper a.sign-up-link:hover{
    text-decoration:underline;
    color: blue;
}

.display-template{
    flex: 65%;
    border: 1px solid black;
}